<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.adrar.adrarconnect">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.MANAGE_DOCUMENTS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".data.utils.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_adrar"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_adrar_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".ui.splashScreen.SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ValidationInformationCollectiveActivity"
            android:label="Information collective"
            android:parentActivityName=".ChoixInfoCoActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ChoixInfoCoActivity"
            android:label="Information collective"
            android:parentActivityName=".InformationCollectiveActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".InformationCollectiveActivity"
            android:label="Information collective"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".LoginActivity"
            android:label="Connexion"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".DescriptionFormationActivity"
            android:label="intitulé de la formation"
            android:parentActivityName=".FormationActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".MyDocActivity"
            android:label="Mes documents"
            android:parentActivityName=".MySpaceActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".MyPersonalDataActivity"
            android:label="Mes informations"
            android:parentActivityName=".MySpaceActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".MySpaceActivity"
            android:label="@string/mon_espace"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".FormationActivity"
            android:label="@string/les_formations"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".SigninActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ProcessusActivity"
            android:label="Processus d&apos;inscription"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".AdrarActivity"
            android:label="@string/l_adrar"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".FaqActivity"
            android:label="FAQ"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>